body {
  background-color: linen;
}

h1 {
  color: maroon;
  margin-left: 40px;
}

tr:first-child {
	background-color: yellow;
}

tr:nth-child(2n) {
	color: gray;
}
/*
td:nth-child(2n+1) {
	color: lightgreen;
}
*/

.clasamea {
	color: green;
}

#paragrafulmeu {
	color: cyan;
}

img[alt="*peisaj*"] {

}
/*
p::first-line {
	color: #ff6666;
}
*/

td {
	border-bottom: 2px solid black;
	border-collapse: collapse;
}